body, html {
    font-family: "Century Gothic", Avenir, sans-serif;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

header {
    background-color: pink;
    text-align: center;
    margin: 20px;
}

footer {
    background-color: pink;
    font-style: italic;
    font-size: 10px;
}

#container {
    width: 200px;
    height: 200px;
    position: relative;
    text-align: center;
    float: right;
}

#popup-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba( 0,0,0,.2);
    display: none;
}

#popup {
    position: relative;
    min-height: 50%;
    width: 50%;
    top: 25%;
    margin: auto;
    background-color: white;
    border: 10px black double;
    text-align: center;
}

#healthBarTag {
    width: 200px;
    text-align: center;
    float: right;
}

#bigContainer {
    height: 90vh;
    width: 99vw;
}
#uDed{
    opacity: 0;
    font-size: 100px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: red;
}